.place-card__like-counter{
    margin: 3px 0 0 0 ;
    width: 21px;
    height: 13px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}